---
import { Image } from "astro:assets";
import quadFechamento from "../img/Quadro-do-Fechamento.webp";
import outrosCursos from "../img/outros-cursos.webp";
import depoMurillo from "../img/depoimentos/depo-murillo.webp";
import depoDaniele from "../img/depoimentos/depo-daniele.webp";
import depoBruno from "../img/depoimentos/depo-bruno.webp";
import vendasTransf1 from "../img/Vendas-Transformacionais-1.webp";
import vendasTransf3 from "../img/Vendas-Transformacionais-3.webp";
import vendasTransf4 from "../img/Vendas-Transformacionais-4.webp";
import pev from "../img/PEV-1.webp";
---

<section
  class="flex flex-col gap-2 py-4 items-center bg-slate-50 text-center text-blue"
>
  <Image src={depoMurillo} alt="quadro do fechamento" />
  <Image src={depoDaniele} alt="quadro do fechamento" />
  <Image src={depoBruno} alt="quadro do fechamento" />
  <p>
    E quais técnicas você encontrará dentro do curso para TRANSFORMAR suas
    vendas? Dá uma olhada! Aqui estão algumas delas:
  </p>
  <Image src={vendasTransf1} alt="quadro do fechamento" />
  <Image src={vendasTransf3} alt="quadro do fechamento" />
  <Image src={vendasTransf4} alt="quadro do fechamento" />
  <div class="bg-blue text-slate-50">
    <div class="px-2">
      <h1
        class="mb-[14.4px] mt-6 px-4 text-center text-cream text-[25px] font-extrabold leading-[29.17px] tracking-[-25] sm:px-2 lg:text-[31.25px]"
      >
        E sabe porque esse é um plano comprovadamente eficaz?
      </h1>
      <p class="text-lg font-bold mb-3">
        Porque aqui você começa uma jornada profissional nas vendas com a
        metodologia <span class="text-cream"
          >PEV – Progresso de Escalada das Vendas</span
        >.
      </p><p class="text-left">
        O PEV quebra uma caminhada longa e complexa em uma subida simples e
        alcancável onde você aumenta seu faturamento vendendo para novos
        clientes, aumentando o ticket médio com o tempo e fidelizando esses.
        Assim como uma escalada que você sobe sem voltar para baixo.
      </p>
    </div>
    <Image src={pev} alt="quadro do fechamento" />
    <div
      class="elementor-element elementor-element-e41b10e e-flex e-con-boxed e-con e-parent"
    >
      <div class="e-con-inner">
        <div
          class="elementor-element elementor-element-73a0b9a elementor-widget elementor-widget-heading"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              1. Base
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-17acdf1 elementor-widget elementor-widget-text-editor"
        >
          <div class="elementor-widget-container">
            <p style="text-align: center;">
              <span style="text-decoration: underline;"
                ><strong>Aumento de 10% nas comissões</strong></span
              >
            </p><ul data-sourcepos="9:1-15:0">
              <li data-sourcepos="9:1-9:138">
                <strong>Descrição:</strong>&nbsp;O primeiro passo na jornada de
                vendas B2B. O escalador desbrava o terreno, descobrindo as
                ferramentas e técnicas básicas.
              </li><li data-sourcepos="10:1-13:77">
                <strong>Características:</strong><br /><ul
                  data-sourcepos="11:5-13:77"
                >
                  <li data-sourcepos="11:5-11:49">
                    Conquista das primeiras vendas e comissões.
                  </li><li data-sourcepos="12:5-12:48">
                    Desenvolvimento da confiança e entusiasmo.
                  </li><li data-sourcepos="13:5-13:77">
                    Aprendizado dos fundamentos de prospecção, qualificação e
                    apresentação.
                  </li>
                </ul>
              </li><li data-sourcepos="14:1-15:0">
                <strong>Objetivo:</strong>&nbsp;Consolidar os conhecimentos
                básicos e dar os primeiros passos rumo ao sucesso.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-f04121e e-flex e-con-boxed e-con e-parent"
      data-id="f04121e"
      data-element_type="container"
      data-settings='{"background_background":"classic"}'
      data-core-v316-plus="true"
    >
      <div class="e-con-inner">
        <div
          class="elementor-element elementor-element-0bc695c elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
          data-id="0bc695c"
          data-element_type="widget"
          data-widget_type="divider.default"
        >
          <div class="elementor-widget-container">
            <style>
              /*! elementor - v3.20.0 - 26-03-2024 */
              .elementor-widget-divider {
                --divider-border-style: none;
                --divider-border-width: 1px;
                --divider-color: #0c0d0e;
                --divider-icon-size: 20px;
                --divider-element-spacing: 10px;
                --divider-pattern-height: 24px;
                --divider-pattern-size: 20px;
                --divider-pattern-url: none;
                --divider-pattern-repeat: repeat-x;
              }
              .elementor-widget-divider .elementor-divider {
                display: flex;
              }
              .elementor-widget-divider .elementor-divider__text {
                font-size: 15px;
                line-height: 1;
                max-width: 95%;
              }
              .elementor-widget-divider .elementor-divider__element {
                margin: 0 var(--divider-element-spacing);
                flex-shrink: 0;
              }
              .elementor-widget-divider .elementor-icon {
                font-size: var(--divider-icon-size);
              }
              .elementor-widget-divider .elementor-divider-separator {
                display: flex;
                margin: 0;
                direction: ltr;
              }
              .elementor-widget-divider--view-line_icon
                .elementor-divider-separator,
              .elementor-widget-divider--view-line_text
                .elementor-divider-separator {
                align-items: center;
              }
              .elementor-widget-divider--view-line_icon
                .elementor-divider-separator:after,
              .elementor-widget-divider--view-line_icon
                .elementor-divider-separator:before,
              .elementor-widget-divider--view-line_text
                .elementor-divider-separator:after,
              .elementor-widget-divider--view-line_text
                .elementor-divider-separator:before {
                display: block;
                content: "";
                border-block-end: 0;
                flex-grow: 1;
                border-block-start: var(--divider-border-width)
                  var(--divider-border-style) var(--divider-color);
              }
              .elementor-widget-divider--element-align-left
                .elementor-divider
                .elementor-divider-separator
                > .elementor-divider__svg:first-of-type {
                flex-grow: 0;
                flex-shrink: 100;
              }
              .elementor-widget-divider--element-align-left
                .elementor-divider-separator:before {
                content: none;
              }
              .elementor-widget-divider--element-align-left
                .elementor-divider__element {
                margin-left: 0;
              }
              .elementor-widget-divider--element-align-right
                .elementor-divider
                .elementor-divider-separator
                > .elementor-divider__svg:last-of-type {
                flex-grow: 0;
                flex-shrink: 100;
              }
              .elementor-widget-divider--element-align-right
                .elementor-divider-separator:after {
                content: none;
              }
              .elementor-widget-divider--element-align-right
                .elementor-divider__element {
                margin-right: 0;
              }
              .elementor-widget-divider--element-align-start
                .elementor-divider
                .elementor-divider-separator
                > .elementor-divider__svg:first-of-type {
                flex-grow: 0;
                flex-shrink: 100;
              }
              .elementor-widget-divider--element-align-start
                .elementor-divider-separator:before {
                content: none;
              }
              .elementor-widget-divider--element-align-start
                .elementor-divider__element {
                margin-inline-start: 0;
              }
              .elementor-widget-divider--element-align-end
                .elementor-divider
                .elementor-divider-separator
                > .elementor-divider__svg:last-of-type {
                flex-grow: 0;
                flex-shrink: 100;
              }
              .elementor-widget-divider--element-align-end
                .elementor-divider-separator:after {
                content: none;
              }
              .elementor-widget-divider--element-align-end
                .elementor-divider__element {
                margin-inline-end: 0;
              }
              .elementor-widget-divider:not(
                  .elementor-widget-divider--view-line_text
                ):not(.elementor-widget-divider--view-line_icon)
                .elementor-divider-separator {
                border-block-start: var(--divider-border-width)
                  var(--divider-border-style) var(--divider-color);
              }
              .elementor-widget-divider--separator-type-pattern {
                --divider-border-style: none;
              }
              .elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line
                .elementor-divider-separator,
              .elementor-widget-divider--separator-type-pattern:not(
                  .elementor-widget-divider--view-line
                )
                .elementor-divider-separator:after,
              .elementor-widget-divider--separator-type-pattern:not(
                  .elementor-widget-divider--view-line
                )
                .elementor-divider-separator:before,
              .elementor-widget-divider--separator-type-pattern:not(
                  [class*="elementor-widget-divider--view"]
                )
                .elementor-divider-separator {
                width: 100%;
                min-height: var(--divider-pattern-height);
                -webkit-mask-size: var(--divider-pattern-size) 100%;
                mask-size: var(--divider-pattern-size) 100%;
                -webkit-mask-repeat: var(--divider-pattern-repeat);
                mask-repeat: var(--divider-pattern-repeat);
                background-color: var(--divider-color);
                -webkit-mask-image: var(--divider-pattern-url);
                mask-image: var(--divider-pattern-url);
              }
              .elementor-widget-divider--no-spacing {
                --divider-pattern-size: auto;
              }
              .elementor-widget-divider--bg-round {
                --divider-pattern-repeat: round;
              }
              .rtl .elementor-widget-divider .elementor-divider__text {
                direction: rtl;
              }
              .e-con-inner > .elementor-widget-divider,
              .e-con > .elementor-widget-divider {
                width: var(--container-widget-width, 100%);
                --flex-grow: var(--container-widget-flex-grow);
              }
            </style>
            <div class="elementor-divider">
              <span class="elementor-divider-separator"> </span>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-bbc3bd3 elementor-widget elementor-widget-heading"
          data-id="bbc3bd3"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              2. Acampamento
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-832de99 elementor-widget elementor-widget-text-editor"
          data-id="832de99"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p style="text-align: center;" data-sourcepos="16:1-16:79">
              <span style="text-decoration: underline;"
                ><strong>Aumento de 20% nas comissões</strong></span
              >
            </p><ul data-sourcepos="18:1-24:0">
              <li data-sourcepos="18:1-18:116">
                <strong>Descrição:</strong>&nbsp;O escalador se prepara para a
                escalada, aprimorando suas habilidades e construindo uma base
                sólida.
              </li><li data-sourcepos="19:1-22:65">
                <strong>Características:</strong><br /><ul
                  data-sourcepos="20:5-22:65"
                >
                  <li data-sourcepos="20:5-20:41">
                    Domínio das técnicas de vendas B2B.
                  </li><li data-sourcepos="21:5-21:61">
                    Negociação eficaz e fechamento de negócios com sucesso.
                  </li><li data-sourcepos="22:5-22:65">
                    Aprimoramento da comunicação e relacionamento com clientes.
                  </li>
                </ul>
              </li><li data-sourcepos="23:1-24:0">
                <strong>Objetivo:</strong>&nbsp;Aperfeiçoar as técnicas de
                vendas e alcançar resultados consistentes.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-82f0d1e e-flex e-con-boxed e-con e-parent"
      data-id="82f0d1e"
      data-element_type="container"
      data-settings='{"background_background":"classic"}'
      data-core-v316-plus="true"
    >
      <div class="e-con-inner">
        <div
          class="elementor-element elementor-element-bd78117 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
          data-id="bd78117"
          data-element_type="widget"
          data-widget_type="divider.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-divider">
              <span class="elementor-divider-separator"> </span>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-3c406e0 elementor-widget elementor-widget-heading"
          data-id="3c406e0"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              3. Escalada
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-cf02fa9 elementor-widget elementor-widget-text-editor"
          data-id="cf02fa9"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p style="text-align: center;" data-sourcepos="25:1-25:74">
              <span style="text-decoration: underline;"
                ><strong>Aumento de 50% nas comissões</strong></span
              >
            </p><ul data-sourcepos="27:1-33:0">
              <li data-sourcepos="27:1-27:124">
                <strong>Descrição:</strong>&nbsp;O escalador enfrenta desafios e
                supera obstáculos, alcançando novos patamares de conhecimento e
                desempenho.
              </li><li data-sourcepos="28:1-31:55">
                <strong>Características:</strong><br /><ul
                  data-sourcepos="29:5-31:55"
                >
                  <li data-sourcepos="29:5-29:51">
                    Expertise em gerenciamento de clientes (CRM).
                  </li><li data-sourcepos="30:5-30:56">
                    Liderança e influência para impulsionar as vendas.
                  </li><li data-sourcepos="31:5-31:55">
                    Análise estratégica de mercado e da concorrência.
                  </li>
                </ul>
              </li><li data-sourcepos="32:1-33:0">
                <strong>Objetivo:</strong>&nbsp;Tornar-se um especialista em
                vendas B2B e liderar equipes de forma eficaz.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="elementor-element elementor-element-e6ccbbb e-flex e-con-boxed e-con e-parent"
      data-id="e6ccbbb"
      data-element_type="container"
      data-settings='{"background_background":"classic"}'
      data-core-v316-plus="true"
    >
      <div class="e-con-inner">
        <div
          class="elementor-element elementor-element-9b78f51 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
          data-id="9b78f51"
          data-element_type="widget"
          data-widget_type="divider.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-divider">
              <span class="elementor-divider-separator"> </span>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-3470a09 elementor-widget elementor-widget-heading"
          data-id="3470a09"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              4. Pico
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-024e075 elementor-widget elementor-widget-text-editor"
          data-id="024e075"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p style="text-align: center;" data-sourcepos="34:1-34:76">
              <span style="text-decoration: underline;"
                ><strong>Aumento de 100% nas comissões</strong></span
              >
            </p><ul data-sourcepos="36:1-42:0">
              <li data-sourcepos="36:1-36:119">
                <strong>Descrição:</strong>&nbsp;O escalador conquista o topo da
                montanha, desfrutando da vista panorâmica do sucesso e
                reconhecimento.
              </li><li data-sourcepos="37:1-40:66">
                <strong>Características:</strong><br /><ul
                  data-sourcepos="38:5-40:66"
                >
                  <li data-sourcepos="38:5-38:72">
                    Visão estratégica e capacidade de identificar novas
                    oportunidades.
                  </li><li data-sourcepos="39:5-39:73">
                    Mentoria e coaching para o desenvolvimento de outros
                    profissionais.
                  </li><li data-sourcepos="40:5-40:66">
                    Inovação e adaptabilidade às constantes mudanças do mercado.
                  </li>
                </ul>
              </li><li data-sourcepos="41:1-42:0">
                <strong>Objetivo:</strong>&nbsp;Alcançar a maestria em vendas
                B2B e inspirar outros a trilhar o mesmo caminho de excelência.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="bg-[#D9EAF7] m-2 rounded-lg border-2 p-4 flex flex-col items-center gap-2 max-w-[400px] text-blue-400 font-semibold border-[#577289]"
    >
      <div class="h-10 w-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          fill="currentColor"
          ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"
          ></path></svg
        >
      </div>
      <p>
        Assista ao vídeo no <a href="#video"
          ><span class="underline">topo da página</span></a
        > para aprender como cada protocolo funciona e como usar o Quadro do Fechamento
        para ativar os protocolos.
      </p>
    </div>
    <div>
      <h1
        class="mb-[14.4px] mt-6 px-4 text-center text-cream text-[25px] font-extrabold leading-[29.17px] tracking-[-25] sm:px-2 lg:text-[31.25px]"
      >
        Alguma dúvida?
      </h1>
      <p>
        Se você tem alguma dúvida, terei o maior prazer em responder qualquer
        pergunta no WhatsApp. É só clicar no botão abaixo e me chamar.
      </p>
      <a
        href="https://wa.me/5548991113894?text=Estou%20na%20p%C3%A1gina%20do%20O%20Vendedor%20Profissional%20e%20quero%20mais%20informa%C3%A7%C3%B5es"
      >
        <button
          class="my-2 rounded-lg border-b-4 border-b-[#236C0F] bg-[#207928] px-4 py-3 text-lg font-extrabold uppercase text-[#FEFEFE] hover:scale-[104%] hover:border-b-[#44972d] hover:bg-[#236C0F] lg:max-w-md lg:py-5"
        >
          <div class="flex items-center gap-2 justify-center">
            <div class="h-8 w-8">
              <svg
                xmlns="
            http:
            www.w3.org
            2000
            svg"
                fill="currentColor"
                viewBox="0 0 448 512"
              >
                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
                ></path>
              </svg>
            </div> WhatsApp Novos vendedores
          </div>
        </button>
      </a>
    </div>
  </div>
</section>
